---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2f5be2f679960ab404bf157f462cd3e4&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650906647,"sunrise":1650888477,"sunset":1650937649,"temp":48.72,"feels_like":46.71,"pressure":1025,"humidity":39,"dew_point":25.72,"uvi":5.71,"clouds":54,"visibility":10000,"wind_speed":5.01,"wind_deg":126,"wind_gust":8.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1650906000,"temp":48.72,"feels_like":47.89,"pressure":1025,"humidity":39,"dew_point":25.72,"uvi":5.71,"clouds":54,"visibility":10000,"wind_speed":3.38,"wind_deg":124,"wind_gust":2.66,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1650909600,"temp":49.21,"feels_like":47.79,"pressure":1025,"humidity":36,"dew_point":24.4,"uvi":7.15,"clouds":52,"visibility":10000,"wind_speed":4.23,"wind_deg":109,"wind_gust":3.33,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.04},{"dt":1650913200,"temp":50.76,"feels_like":47.08,"pressure":1024,"humidity":33,"dew_point":23.77,"uvi":7.82,"clouds":36,"visibility":10000,"wind_speed":3.91,"wind_deg":97,"wind_gust":4.65,"weather":[{"id":80[...]
