---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2f5be2f679960ab404bf157f462cd3e4&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1651011884,"sunrise":1650974798,"sunset":1651024110,"temp":74.44,"feels_like":72.1,"pressure":1011,"humidity":11,"dew_point":18.27,"uvi":3.74,"clouds":87,"visibility":10000,"wind_speed":5.01,"wind_deg":220,"wind_gust":17,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1651010400,"temp":74.44,"feels_like":72.1,"pressure":1011,"humidity":11,"dew_point":18.27,"uvi":3.74,"clouds":87,"visibility":10000,"wind_speed":5.95,"wind_deg":314,"wind_gust":11.27,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1651014000,"temp":73.9,"feels_like":71.51,"pressure":1010,"humidity":11,"dew_point":17.91,"uvi":2,"clouds":87,"visibility":10000,"wind_speed":4.79,"wind_deg":271,"wind_gust":15.73,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1651017600,"temp":73.58,"feels_like":71.15,"pressure":1010,"humidity":11,"dew_point":17.67,"uvi":0.79,"clouds":89,"visibility":10000,"wind_speed":8.55,"wind_deg":286,"wind_gust":16.82,"weather":[{"id":804[...]
