---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2f5be2f679960ab404bf157f462cd3e4&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650693787,"sunrise":1650715839,"sunset":1650764727,"temp":53.67,"feels_like":49.82,"pressure":991,"humidity":23,"dew_point":18.48,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":8.01,"wind_deg":268,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1650693600,"temp":53.67,"feels_like":49.82,"pressure":991,"humidity":23,"dew_point":18.48,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":15.12,"wind_deg":305,"wind_gust":22.03,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.22},{"dt":1650697200,"temp":53.83,"feels_like":49.95,"pressure":992,"humidity":22,"dew_point":17.69,"uvi":0,"clouds":86,"visibility":10000,"wind_speed":11.34,"wind_deg":256,"wind_gust":19.69,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.32},{"dt":1650700800,"temp":53.29,"feels_like":49.35,"pressure":992,"humidity":22,"dew_point":17.28,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":7.38,"wind_deg":264,"wind_gust":15.19,"weather":[{"id":[...]
