---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2f5be2f679960ab404bf157f462cd3e4&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650752419,"sunrise":1650715839,"sunset":1650764727,"temp":58.03,"feels_like":54.57,"pressure":1003,"humidity":22,"dew_point":20.84,"uvi":3.39,"clouds":92,"visibility":10000,"wind_speed":15.01,"wind_deg":325,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1650751200,"temp":58.03,"feels_like":54.57,"pressure":1003,"humidity":22,"dew_point":20.84,"uvi":3.39,"clouds":92,"visibility":10000,"wind_speed":14.92,"wind_deg":294,"wind_gust":19.39,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1650754800,"temp":57.9,"feels_like":54.37,"pressure":1003,"humidity":21,"dew_point":19.78,"uvi":1.81,"clouds":92,"visibility":10000,"wind_speed":14.23,"wind_deg":297,"wind_gust":16.55,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1650758400,"temp":57.15,"feels_like":53.49,"pressure":1004,"humidity":20,"dew_point":18.21,"uvi":0.71,"clouds":91,"visibility":10000,"wind_speed":14.72,"wind_deg":296,"wind_gust":18.5,"weather":[{"id"[...]
