---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=pueblo,%20co&term=cheese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer P_TnDWjeWege3LP20MSr9NWjh_YObN4A6H1QtzRCI7UWKI9pQUO4itnWiBwWA27UyE3BW3YfZiQg6JIaRo-DgmZdawb86dfkhtcX4deZS5CGLOgwH3brQaSvYZNlYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-dbd49b665-7ksm9; site=public_api_v3
      X-Zipkin-Id:
      - b3aba3b454421024
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4992'
      Ratelimit-Resettime:
      - '2022-04-27T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-185-39-uswest2bprod
      X-Extlb:
      - 10-69-185-39-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "HQAvMHxMESvv0Gwfm64RQg", "alias": "springside-cheese-shop-pueblo",
        "name": "Springside Cheese Shop", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/A3mHmZSt8VTCeIharo0V8g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/springside-cheese-shop-pueblo?adjust_creative=ah6b55fG7Jdfnl4170AXEQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ah6b55fG7Jdfnl4170AXEQ",
        "review_count": 13, "categories": [{"alias": "cheese", "title": "Cheese Shops"}],
        "rating": 5.0, "coordinates": {"latitude": 38.2717031, "longitude": -104.6140442},
        "transactions": [], "price": "$$$", "location": {"address1": "517 W 5th St",
        "address2": "Ste 104", "address3": "", "city": "Pueblo", "zip_code": "81003",
        "country": "US", "state": "CO", "display_address": ["517 W 5th St", "Ste 104",
        "Pueblo, CO 81003"]}, "phone": "+17196969120", "display_phone": "(719) 696-9120",
        "distance": 3554.4487283971584}, {"id": "vZKjFyRgxXbzVVacQscjDg", "alias":
        "gaglianos-italian-market-pueblo", "name": "Gagliano''s Italian Market", "image_url":
        "https://s3-media4.fl.yelpcdn.com/bphoto/iqnr9qobuJuLtWnsKTCPTQ/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/gaglianos-italian-market-pueblo?adjust_creative=ah6b55fG7Jdfnl4170AXEQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ah6b55fG7Jdfnl4170AXEQ",
        "review_count": 48, "catego[...]
